<div fxLayout="column" class="example-card">

	<mat-card fxFlex="50%;">
		<mat-card-header>
			<div mat-card-avatar class="gespenst-header-image" fxHide fxShow.xs="true"></div>
			<mat-card-title>DAS GESPENST VON CANTERVILLE</mat-card-title>
			<mat-card-subtitle>SA 14.12. // 16 Uhr ### MÜHLSTRASSE 14</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content fxHide >
			<p>
				Singspiel nach der Erzählung von Oscar Wilde
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="50%;">
		<mat-card-header>
			<div mat-card-avatar class="prinz-header-image" fxHide fxShow.xs="true"></div>
			<mat-card-title>DER FALSCHE PRINZ</mat-card-title>
			<mat-card-subtitle>SO 15.12. // 16 Uhr ### MÜHLSTRASSE 14</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content fxHide>
			<p>
				Komödiantisches Schauspiel nach einem Märchen von Wilhelm Hauff
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="50%;">
		<mat-card-header>
			<div mat-card-avatar class="schneek-header-image" fxHide fxShow.xs="true"></div>
			<mat-card-title>DIE SCHNEEKÖNIGIN</mat-card-title>
			<mat-card-subtitle>SA 25.1. // 16 Uhr ### MÜHLSTRASSE 14</mat-card-subtitle>
			<mat-card-subtitle>SO 25.1. // 16 Uhr ### MÜHLSTRASSE 14</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content fxHide>
			<p>
				Winterliches Märchenstück nach H.C. Andersen
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="50%;">
		<mat-card-header>
			<div mat-card-avatar fxHide fxShow.xs="true"></div>
			<mat-card-title>MELANIE UND DIE WUNDERLAMPE</mat-card-title>
			<mat-card-subtitle>FR 6.3. // 20 Uhr ### Ort noch offen</mat-card-subtitle>
			<mat-card-subtitle>SA 7.3. // 16 Uhr ### MÜHLSTRASSE 14</mat-card-subtitle>
			<mat-card-subtitle>SO 8.3. // 16 Uhr ### MÜHLSTRASSE 14</mat-card-subtitle>
			<mat-card-subtitle>SA 21.3. // 16 Uhr ### MÜHLSTRASSE 14</mat-card-subtitle>
      <mat-card-subtitle>SO 22.3. // 16 Uhr ### BUDDEHAUS </mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image fxShow fxHide.xs="true" >
		<mat-card-content fxHide>
			<p>
				Komödie frei nach Märchen aus den tausend und ein Nächten
			</p>
		</mat-card-content>
	</mat-card>

  	<mat-card fxFlex="50%;">
		<mat-card-header>
			<div mat-card-avatar class="kalteHerz-header-image" fxHide fxShow.xs="true"></div>
			<mat-card-title>DAS KALTE HERZ</mat-card-title>
		</mat-card-header>
		<mat-card-content fxHide>>
			<p>
				Märchenstück nach Wilhelm Hauff
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="50%;">
		<mat-card-header>
			<div mat-card-avatar class="regentrude-header-image" fxHide fxShow.xs="true"></div>
			<mat-card-title>DIE REGENTRUDE</mat-card-title>
		</mat-card-header>
		<mat-card-content fxHide>
			<p>
				Interaktives Schauspiel nach dem Märchen von Theodor Storm
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="50%;">
		<mat-card-header>
      <div mat-card-avatar class="vagabunden-header-image" fxHide fxShow.xs="true"></div>
			<mat-card-title>DREI VAGABUNDEN</mat-card-title>
		</mat-card-header>
		<mat-card-content fxHide>
			<p>
				Ein Theatermärchen nach Musäus
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="50%;">
		<mat-card-header>
          <div mat-card-avatar class="wittchen-header-image" fxHide fxShow.xs="true"></div>
			<mat-card-title>SCHNEEWITTCHEN</mat-card-title>
		</mat-card-header>
		<mat-card-content fxHide>
			<p>
				Märchenkomödie frei nach Bechstein und den Gebrüdern Grimm
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="50%;">
		<mat-card-header>
			<div mat-card-avatar class="cindy-header-image" fxHide fxShow.xs="true"></div>
			<mat-card-title>CINDY</mat-card-title>
		</mat-card-header>
		<mat-card-content fxHide>
			<p>
				Eine Märchenkomödie frei nach den Brüdern Grimm
			</p>
		</mat-card-content>
	</mat-card>

</div>
