
<div fxLayout="row" fxLayout.xs="column">

	<mat-card fxFlex="50%;">
		<mat-card-header>
			<div mat-card-avatar class="gespenst-header-image" fxHide fxShow.xs="true"></div>
			<mat-card-title>DAS GESPENST VON CANTERVILLE</mat-card-title>
			<mat-card-subtitle>SA 14.12. // 16 Uhr Mühlstraße</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image fxShow fxHide.xs="true"  fxFlex.xs="80px"src="https://cdn.jsdelivr.net/gh/panicpat/Proto-Eumeniden@master/src/Canterville_NETZ.jpg">
		<mat-card-content fxShow fxHide.xs="true">
			<p>
				Singspiel nach der Erzählung von Oscar Wilde
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="50%;">
		<mat-card-header>
			<div mat-card-avatar class="prinz-header-image" fxHide fxShow.xs="true"></div>
			<mat-card-title>DER FALSCHE PRINZ</mat-card-title>
			<mat-card-subtitle>SO 15.12. // 16 Uhr</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image fxShow fxHide.xs="true"  src="https://cdn.jsdelivr.net/gh/panicpat/Proto-Eumeniden@master/src/prinz.jpg">
		<mat-card-content fxShow fxHide.xs="true">
			<p>
				Komödiantisches Schauspiel nach einem Märchen von Wilhelm Hauff
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="50%;">
		<mat-card-header>
			<div mat-card-avatar class="cindy-header-image" fxHide fxShow.xs="true"></div>
			<mat-card-title>CINDY</mat-card-title>
			<mat-card-subtitle>SA 14.12. // 16 Uhr Mühlstraße</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image fxShow fxHide.xs="true" src="https://cdn.jsdelivr.net/gh/panicpat/Proto-Eumeniden@master/src/cindy.jpg">
		<mat-card-content fxShow fxHide.xs="true">>
			<p>
				Eine Märchenkomödie frei nach den Brüdern Grimm
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="50%;">
		<mat-card-header>
			<div mat-card-avatar class="schneek-header-image" fxHide fxShow.xs="true"></div>
			<mat-card-title>DIE SCHNEEKÖNIGIN</mat-card-title>
			<mat-card-subtitle>SA 14.12. // 16 Uhr</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image fxShow fxHide.xs="true" src="https://cdn.jsdelivr.net/gh/panicpat/Proto-Eumeniden@master/src/schneek.jpg">
		<mat-card-content fxShow fxHide.xs="true">>
			<p>
				Winterliches Märchenstück nach H.C. Andersen
			</p>
		</mat-card-content>
	</mat-card>
</div>


<div fxLayout="row" fxLayout.xs="column">
	<mat-card fxFlex="50%;">
		<mat-card-header>
			<div mat-card-avatar class="kalteHerz-header-image" fxHide fxShow.xs="true"></div>
			<mat-card-title>DAS KALTE HERZ</mat-card-title>
			<mat-card-subtitle>SA 14.12. // 16 Uhr Mühlstraße</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image fxShow fxHide.xs="true"
    src="https://cdn.jsdelivr.net/gh/panicpat/Proto-Eumeniden@master/src/Kalte Herz_Netz.jpg">
		<mat-card-content fxShow fxHide.xs="true">>
			<p>
				Märchenstück nach Wilhelm Hauff
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="50%;">
		<mat-card-header>
			<div mat-card-avatar class="regentrude-header-image" fxHide fxShow.xs="true"></div>
			<mat-card-title>DIE REGENTRUDE</mat-card-title>
			<mat-card-subtitle>SA 14.12. // 16 Uhr</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image fxShow fxHide.xs="true" src="https://cdn.jsdelivr.net/gh/panicpat/Proto-Eumeniden@master/src/Regentrude.jpg">
		<mat-card-content>
			<p>
				Interaktives Schauspiel nach dem Märchen von Theodor Storm
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="50%;">
		<mat-card-header>
			<mat-card-title>DREI VAGABUNDEN</mat-card-title>
			<mat-card-subtitle>SA 14.12. // 16 Uhr Mühlstraße</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://cdn.jsdelivr.net/gh/panicpat/Proto-Eumeniden@master/src/Vagabunden.jpg">
		<mat-card-content>
			<p>
				Ein Theatermärchen nach Musäus
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="50%;">
		<mat-card-header>
			<mat-card-title>SCHNEEWITTCHEN</mat-card-title>
			<mat-card-subtitle>SA 14.12. // 16 Uhr</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://cdn.jsdelivr.net/gh/panicpat/Proto-Eumeniden@master/src/wittchen.jpg">
		<mat-card-content>
			<p>
				Märchenkomödie frei nach Bechstein und den Gebrüdern Grimm
			</p>
		</mat-card-content>
	</mat-card>

</div>