<div fxLayout="row" fxLayout.xs="column">
	<mat-card fxFlex="50%;" fxFlex.xs="80%">
		<mat-card-header>
			<mat-card-title>DAS GESPENST VON CANTERVILLE</mat-card-title>
			<mat-card-subtitle>SA 14.12. // 16 Uhr</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://cdn.jsdelivr.net/gh/panicpat/Proto-Eumeniden@master/src/Canterville_NETZ.jpg">
		<mat-card-content>
			<p>
				Singspiel nach der Erzählung von Oscar Wilde
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="50%;" fxFlex.xs="80%">
		<mat-card-header>
			<mat-card-title>DAS GESPENST VON CANTERVILLE</mat-card-title>
			<mat-card-subtitle>SA 14.12. // 16 Uhr</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://cdn.jsdelivr.net/gh/panicpat/Proto-Eumeniden@master/src/Canterville_NETZ.jpg">
		<mat-card-content>
			<p>
				Singspiel nach der Erzählung von Oscar Wilde
			</p>
		</mat-card-content>
	</mat-card>

</div>